* {
  font-family: "Poppins", sans-serif;
  margin: 0%;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ff7a7a;
  background-image: url("./images/bg-intro-desktop.png");
  height: 100vh;
  min-height: 600px;
  width: 100vw;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  display: flex;
  justify-content: center;
  overflow-x: hidden;
}

.content {
  height: 100%;
  width: 80%;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.left-side {
  width: 100%;
  display: flex;
  justify-content: center;
}
.left-side .article {
  color: white;
  width: 100%;
}
.left-side .article h1 {
  font-size: 3.5vw;
  line-height: 1;
  padding: 20px 0;
}
.left-side .article p {
  font-size: 1.2vw;
  font-weight: 500;
}

.login-section {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.login-section .login-container {
  height: 90%;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.try-7 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 10%;
  background: #6055a5;
  border-radius: 15px;
  color: white;
  font-weight: 700;
  font-size: 1vw;
  -webkit-box-shadow: 0px 10px 13px -7px #000000, 0px 13px 5px -5px rgba(0, 0, 0, 0);
  box-shadow: 0px 10px 13px -7px #000000, 0px 13px 5px -5px rgba(0, 0, 0, 0);
}
.try-7 span {
  margin-left: 2px;
  font-weight: 500;
}

.form-container {
  border-radius: 15px;
  background: white;
  display: flex;
  flex-direction: column;
  padding: 8%;
  height: 85%;
  padding-bottom: 0;
}
.form-container .form-name {
  margin-bottom: 7%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.form-container .form-name .first-name {
  height: 12%;
  width: 48%;
  position: relative;
}
.form-container .form-name .last-name {
  height: 12%;
  width: 48%;
  position: relative;
}
.form-container .form-name input {
  padding: 15%;
}
.form-container div {
  height: 12%;
  position: relative;
}
.form-container input {
  border: #b9b6d3 1px solid;
  border-radius: 5px;
  height: 100%;
  padding: 5%;
  outline: none;
  font-size: 1vw;
  font-weight: 600;
  width: 100%;
}
.form-container input::placeholder {
  color: #3e3c49;
  font-size: 1vw;
  font-weight: 600;
  opacity: 0.8;
}
.form-container input::-moz-placeholder {
  color: #3e3c49;
  opacity: 0.8;
}
.form-container input::-webkit-input-placeholder {
  color: #3e3c49;
  opacity: 0.8;
}
.form-container p {
  font-size: 0.8vw;
  padding-top: 3%;
  color: #b9b6d3;
}
.form-container p span {
  color: #ff7a7a;
  cursor: pointer;
}
.form-container .error-message {
  font-size: 1vw;
  padding: 0;
  color: #ff7a7a;
  visibility: hidden;
}
.form-container .show {
  visibility: visible;
}

.form-container input:focus {
  border: #6055a5 1px solid;
}

.form-button {
  height: 12%;
  background-color: #38cc8c;
  border: none;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1vw;
  border-radius: 8px;
  cursor: pointer;
}

.form-button:hover {
  background-color: #4afcaf;
}

.check-icon {
  position: absolute;
  width: 2vw;
  height: 2vw;
  background-color: #38cc8c;
  background-image: url("./images/icon-check.svg");
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;
  z-index: 2;
  border-radius: 50%;
  top: 30%;
  right: 5%;
  visibility: hidden;
}

#date-icon {
  right: 12%;
}

.check-valid-name {
  right: 5%;
  top: 180%;
}

.check-invalid {
  background-color: #ff7a7a;
  background-image: url("./images/icon-error.svg");
}

@media (max-aspect-ratio: 7/5), (max-width: 600px) {
  body {
    min-height: 100vh;
    height: auto;
  }

  .content {
    flex-direction: column;
    min-height: 100vh;
    height: auto;
  }

  .left-side .article {
    color: white;
    width: 100%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .left-side .article h1 {
    font-size: 40px;
    line-height: 1;
    padding: 40px 0;
    padding-top: 40px;
    padding-top: 20%;
  }
  .left-side .article p {
    font-size: 14px;
    font-weight: 500;
  }

  .login-section {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .login-section .login-container {
    width: 100%;
    height: auto;
  }
  .login-section .login-container .try-7 {
    height: 80px;
    padding: 20px;
    margin: 50px 0 30px 0;
    font-size: 14px;
  }
  .login-section .login-container .form-container {
    height: auto;
    padding: 20px;
    margin-bottom: 10px;
  }
  .login-section .login-container .form-container input {
    height: 40px;
    font-size: 14px;
  }
  .login-section .login-container .form-container input::placeholder {
    color: #3e3c49;
    font-size: 14px;
    font-weight: 600;
    opacity: 0.8;
  }
  .login-section .login-container .form-container input:-ms-input-placeholder {
    color: #3e3c49;
    font-size: 14px;
    font-weight: 600;
    opacity: 0.8;
  }
  .login-section .login-container .form-container input::-webkit-input-placeholder {
    color: #3e3c49;
    font-size: 14px;
    font-weight: 600;
    opacity: 0.8;
  }
  .login-section .login-container .form-container .error-message {
    font-size: 10px;
    margin-bottom: 10px;
    color: #ff7a7a;
    text-align: start;
  }
  .login-section .login-container .form-container .no-margin {
    margin-bottom: 0;
  }
  .login-section .login-container .form-container .form-button {
    height: 50px;
    font-size: 16px;
    border-radius: 5px;
  }
  .login-section .login-container .form-container .form-terms {
    font-size: 12px;
    padding-top: 10px;
    color: #b9b6d3;
    text-align: center;
  }

  .check-icon {
    width: 20px;
    height: 20px;
  }

  .check-valid-name {
    right: 5%;
    top: 30%;
  }
}

/*# sourceMappingURL=style.css.map */
